@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
ol {
  padding-left: 20px;
}
.flex {
  display: flex;
}
body {
  overflow: hidden; /* Hide scrollbars */
  background: rgb(5,2,57);
  background: -moz-linear-gradient(-300deg, rgba(5,2,57,1) 30%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(-300deg, rgba(5,2,57,1) 30%, rgba(0,212,255,1) 100%);
  background: linear-gradient(-330deg, rgba(5,2,57,1) 30%, rgba(0,212,255,1) 100%);
  background-attachment: fixed;
  animation: gradient 12s ease infinite alternate;
  background-size: 150% 150%;
  /* background-size: 300% 300%; */
}
.center {
  text-align: center;
}
h1,
h2,
h3,
h4,
p,
a,
button {
  color: white;
  font-family: "DM Mono", monospace, sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.7em;
}
h1 {
  font-weight: 500;
}
a {
  text-decoration: none;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
.vl {
  border-left: 1px solid white;
  height: 15%;
  position: fixed;
}
.top {
  top: 0px;
}
.bottom {
  bottom: 0px;
}
.left {
  left: 0px;
}
.right {
  right: -38px;
}
#text-background {
  width: 100vw;
  overflow: hidden;
  z-index: -10;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  user-select: none;
}
#text-background span {
  font-size: 250px;
  color: rgba(168, 179, 209, 0.1);
  filter: blur(15px);
  font-family: "DM Mono", monospace, sans-serif;
  font-weight: 400;
  letter-spacing: 0.3em;
  animation: letter-spacing 6s ease-in infinite alternate;
}
#turn{
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.rotate {
  margin-right: 10px;
}
#intro-wrapper {
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 55%;
}
#intro-wrapper p {
  margin-top: 20px;
}

#intro-title {
  margin-bottom: 15px;
}
#intro-title h1 {
  font-size: 50px;
}
p {
  font-size: 14px;
  letter-spacing: 0.15em;
}
.intro-text {
  line-height: 32px;
}
#play-btn {
  margin: 40px 0px;
  color: #db4b4b;
  letter-spacing: 0.3em;
  transition: all 0.3s cubic-bezier(0, 0.95, 1, 1);
  padding: 10px 35px;
  background-color: white;
}

#play-btn:hover {
  letter-spacing: 0.5em;
  padding: 10px 45px;
}

/* GAME PART */
#game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#game-wrapper {
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.fadein {
  animation: fade 1.5s ease-in;
}
#title-game {  
  margin: 40px;
}
#title-game h1 {
  animation: title 7s ease-in-out infinite alternate-reverse;
  font-size: 36px;
}

#game-zone {
  position: relative;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 880px;
  height: 420px;
}

/* CIRCLES */

.circle-left-container {
  position: relative;
  height: 420px;
  width: 420px;
  /* border: 1px solid rgba(255,255,255,0.3); */
  border-radius: 50%;

  animation: spin 5s linear 0s infinite reverse;

  animation-play-state: paused;
}

.circle-right-container {
  position: relative;
  height: 420px;
  width: 420px;
  /* border: 1px solid rgba(255,255,255,0.3); */
  border-radius: 50%;

  animation: spin 5s linear 0s infinite reverse;

  animation-play-state: paused;
}

#circle-left,
#circle-right {
  position: relative;
  height: 420px;
  width: 420px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  /* transform: rotate(90deg);  */
  animation: spin 10s linear 0s infinite normal;
}

.reverse {
  animation-play-state: running;
}

.ball {
  height: 14px;
  width: 14px;
  background-color: white;
  border-radius: 50%;
}
.left-ball {
  position: absolute;
  left: -7px;
  top: calc(420px / 2 - 7px);
}
.right-ball {
  position: absolute;
  right: -7px;
  top: calc(420px / 2 - 7px);
}

.halo {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 3px;
  left: 3px;
  background-color: inherit;
  animation: halo 0.3s ease-in-out;
  border-radius: 50%;
}


/* LINES */
#lines-zone {
  padding: 6px 0;
  position: absolute;
  /* border: 1px solid black; */
  width: 300px;
  height: 280px;
  left: calc(50% - 300px / 2);
  top: calc(50% - 280px / 2);
  overflow: hidden;
}
.line-ball {
  position: absolute;
  top: -5px;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  animation: lateral-move 5s linear ;
  animation-direction: inherit;

}
.line {
  position: relative;
  margin: 0 auto;
  margin-bottom: 43px;
  width: 100%;
  height: 1px;
  background-color: white;
}
.line:nth-of-type(2n) {
  animation-direction: reverse;
}

.blue {
  background-color: #cc2658;
  border-color: #cc2658;

  
}
.yellow {
  background-color: #FFC80D;
  border-color: #FFC80D;

}
/* FOOTER */
#tips {
  margin: 30px 0;
}
.key {
  display: inline-block;
  position: relative;
  top: -4px;
  right: 2px;
  width: 25px;
  height: 25px;
  border-radius: 6px;
  border: 1px solid white;
  text-align: right;
  font-size: 10px;
  line-height: 28px;
}
#hud {
  margin-top: 30px;
  width: 350px;
  justify-content: space-between;
  align-items: flex-end;
}
#hud p {
  font-size: 14px;
}
.points,
.time {
  font-size: 30px;
}

/* SCORE */
#score-wrapper {
  margin: 0 auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 600px;
  height: 600px;
}

#score-wrapper h3 {
  letter-spacing: 0.3em;
  margin: 40px 0 20px;
  font-size: 26px;
}
#score-wrapper h3 span {
  font-size: 45px;
}
#score-wrapper p {
  margin-bottom: 15px;
  font-size: 16px;
}
.btn {
  margin: 70px 30px;
  padding: 10px 30px;
  background: white;
  border: 1px solid transparent;
  color: #db4b4b;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: transparent;
  border-color: white;
  color: white;

}

/* ANIMATION */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes lateral-move {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {   
    opacity: 1;
  }
  100% {
    transform: translateX(300px);
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes title {
  0% {
    filter: blur(0.5px);
    letter-spacing: 0.7em;
  }
  100% {
    filter: blur(1px);
    letter-spacing: 0.8em;
  }
}
@keyframes letter-spacing {
  0% {
    filter: blur(10px);
    letter-spacing: 0.3em;
  }
  100% {
    filter: blur(15px);
    letter-spacing: 0.33em;
  }
}

@keyframes halo {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  75% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

/* MEDIA QUERIES */
@media (max-width: 760px) and (orientation:landscape){
  #turn{ display:flex; }
  #main-container{ display:none; }
}
@media (max-width: 760px) and (orientation:portrait){
  #turn{ display:none; }
  #main-container{ display:block; }
}

@media (max-width: 1280px) {

  #text-background span {
    font-size: 150px;
    line-height: 480px;
  }
  #intro-wrapper {
    width: 80%;
  }
  #title-game {
    margin-top: 30px;
  }
  #game-wrapper {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {

  #text-background span {
    font-size: 150px;
    line-height: 480px;
  }
  #intro-wrapper {
    width: 80%;
  }
  #title-game {
    margin-top: 0px;
  }
  #game-wrapper {
    overflow: hidden;
    align-items: space-around;;
    width: 100vw;
    height: 100vh;
    margin-top: 0px;
    justify-content: center;
  }
}

@media (max-width: 440px) {
  p {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .vl {
    height: 8%;
  }
  #text-background span {
    font-size: 100px;
    line-height: 300px;
  }
  #intro-wrapper {
    width: 90%;
  }
  #intro-title h1 {
    font-size: 30px;
  }
  .intro-text {
    line-height: 26px;
  }
  #game-wrapper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  #title-game {
    margin: 0 0 20px;;
  }
  #title-game h1 {
    font-size: 25px;
  }
  #hud {
    width: 80vw;
  }
  #tips {
    display: none;
  }
  #tips .key {
    top: 0px;
    right: 2px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    font-size: 8px;
    line-height: 20px;
  }
  #score-wrapper {
    width: 350px;
    height: 350px;
  }
  #score-wrapper h3 {
    letter-spacing: 0.3em;
    margin-top: 50px;
    font-size: 16px;
  }
  #score-wrapper h3 span {
    font-size: 24px;
  }
  #score-wrapper p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .btn {
    margin: 50px 30px;
    padding: 8px 10px;
    letter-spacing: 0.2em;
  }
}